.card {
  background: rgb(151, 118, 87);
  border-radius: 2px;
  height: 250px;
  margin: 1rem;
  position: relative;
  width: 250px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  overflow: hidden;
  
}


.card > .img-container > img {
  width: 100%
}


.card:hover {
  box-shadow: 0 5px 10px #999;
  cursor: pointer;
  border:rgb(247, 139, 15) solid 5px;
  border-radius: 10px;
}